@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #10141e;
  overflow-x: hidden;
}

horizontal-scroll {
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}
